.feed__layout-container {
	width: 100%;
	height: 100%;
}

div[id^=pin__content-container] {
	position: absolute;
	display: flex;
	flex-direction: column;
}

img[class^=pin__image] {
	border-radius: 40px;
}

.pin__author_container {
	display: flex;
	align-items: center;
}

.pin__author_avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	clip-path: circle();
}

.pin__author_container p {
	margin-left: 10px;
}
